/* big tablet-to 1200px (widths smaller than the 1240px row) */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }
}

/* small tablet-big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
}

/* phones-tablets: from 481px to 767px  ipad=768px*/
@media only screen and (max-width: 767px) {
}

/* small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
}
