<!DOCTYPE html>

<html lang="en">

<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>FeedThePig</title>

	<!-- Core CSS -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/main.css" rel="stylesheet">

	<!-- AddOn/Plugin CSS -->
	<link href="assets/css/green.css" rel="stylesheet" title="Color">
	<link href="assets/css/owl.carousel.css" rel="stylesheet">
	<link href="assets/css/owl.transitions.css" rel="stylesheet">
	<link href="assets/css/animate.min.css" rel="stylesheet">
	<link href="assets/css/aos.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">


	<!-- Custom CSS -->
	<link href="assets/css/custom.css" rel="stylesheet">

	<!-- Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

	<!-- Icons/Glyphs -->
	<link href="assets/fonts/fontello.css" rel="stylesheet">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/pig2.png">

	<!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
	<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body id="top">

	<!-- ============================================================= HEADER ============================================================= -->

	<header>
		<div class="navbar">

			<div class="navbar-header">
				<div class="container">

					<ul class="info pull-left">
						<li><a href="mailto:thepinkpigchallenge@gmail.com"><i class="icon-mail-1 contact"></i> ThePinkPigChallenge@gmail.com</a></li>
						<li><i class="icon-mobile contact"></i>(503) 720-9891</li>
					</ul>
					<!-- /.info -->

					<ul class="social pull-right">
						<li><a href="https://www.facebook.com/ThePinkPigChallenge/" target="_blank"><i class="icon-s-facebook"></i></a></li>
						<!-- <li><a href="#"><i class="icon-s-twitter"></i></a></li> -->
						<li><a href="https://www.youtube.com/channel/UCVHEJxRRMvhBPuJ8yWP2pIw" target="_blank"><i class="icon-s-youtube"></i></a></li>
					</ul>
					<!-- /.social -->

					<!-- ============================================================= LOGO MOBILE ============================================================= -->

					<a class="navbar-brand" href="index.html"><img src="assets/images/pinkPigChallenge-logo.png" class="logo" alt=""></a>

					<!-- ============================================================= LOGO MOBILE : END ============================================================= -->

					<a class="navbar-toggle btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>

				</div>
				<!-- /.container -->
			</div>
			<!-- /.navbar-header -->

			<div class="yamm">
				<div class="navbar-collapse collapse">
					<div class="container">

						<!-- ============================================================= LOGO ============================================================= -->

						<a class="navbar-brand scroll-to" href="index.html"><img src="assets/images/navLogoPPC.png" class="logo" alt=""></a>

						<!-- ============================================================= LOGO : END ============================================================= -->


						<!-- ============================================================= MAIN NAVIGATION ============================================================= -->

						<ul class="nav navbar-nav pull-right">

							<li><a href="#product" class="scroll-to" data-anchor-offset="0">The Pink Pig Challenge</a></li>
							<li><a href="#visit-our-store" class="scroll-to" data-anchor-offset="0">Donate</a></li>
							<li><a href="#reasons" class="scroll-to" data-anchor-offset="0">Benefits</a></li>
							<li><a href="#get-in-touch" class="scroll-to" data-anchor-offset="0">Contact</a></li>

						</ul>
						<!-- /.nav -->

						<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

					</div>
					<!-- /.container -->
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.yamm -->
		</div>
		<!-- /.navbar -->
	</header>

	<!-- ============================================================= HEADER : END ============================================================= -->


	<!-- ============================================================= MAIN ============================================================= -->

	<main>

		<!-- ============================================================= SECTION – HERO ============================================================= -->

		<section id="hero">
			<div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">

				<div class="item" style="background-image: url(assets/images/backBoard02.jpg);">
					<div class="container">
						<div class="caption vertical-center text-center">

							<h1 class="fadeInDown-1 light-color">The <span id="pinkPigOverride">Pink Pig</span> Challenge</h1>
							<p class="fadeInDown-2 medium-color">The pink pig challenge is an International Christian Church nation wide challenge, get a pig, fill it with change, and see how heavy your pig can get! Proceeds go toward missionaries in the field, church planting, and over all advancing God's movement
								on Earth.</p>
							<div class="fadeInDown-3">
								<a href="#product" class="btn btn-large scroll-to">Learn More</a>
							</div>
							<!-- /.fadeIn -->

						</div>
						<!-- /.caption -->
					</div>
					<!-- /.container -->
				</div>
				<!-- /.item -->

				<div class="item" style="background-image: url(assets/images/backBoard04.jpg);">
					<div class="container">
						<div class="caption vertical-center text-right">

							<h1 class="fadeInLeft-1 light-color">Social Media</h1>
							<p class="fadeInLeft-2 light-color">&#64;ThePinkPigChallenge &#35;ThePinkPigChallenge</p>
							<p class="fadeInLeft-3 light-color">Social meadia is where ThePinkPigChallenge loves to be! Come join our FaceBook Page and Subscribe to the YouTube channel.</p>
							<div class="fadeInLeft-4">
								<a href="https://www.facebook.com/ThePinkPigChallenge/" target="_blank" class="btn btn-large">FaceBook</a>
								<a href="https://www.youtube.com/channel/UCVHEJxRRMvhBPuJ8yWP2pIw" target="_blank" class="btn btn-large">YouTube</a>
							</div>
							<!-- /.fadeIn -->

						</div>
						<!-- /.caption -->
					</div>
					<!-- /.container -->
				</div>
				<!-- /.item -->

				<div class="item" style="background-image: url(assets/images/backBoard03.jpg);">
					<div class="container">
						<div class="caption vertical-center text-left">

							<h1 class="fadeInRight-1 dark-bg light-color"><span>Supporting missionaries <br>around the World</span></h1>
							<p class="fadeInRight-2 dark-color">Some areas around the World people earn only a couple dollars a day, ThePinkPigChallenge will go towards spreading the Word of God to the lost people. </p>
							<div class="fadeInRight-3">
								<a href="http://www.orlandoicc.org/donations/" target="_blank" class="btn btn-large">Donate Now</a>
							</div>
							<!-- /.fadeIn -->

						</div>
						<!-- /.caption -->
					</div>
					<!-- /.container -->
				</div>
				<!-- /.item -->

				<div class="item" style="background-image: url(assets/images/backBoard01.jpg);">
					<div class="container">
						<div class="caption vertical-top text-right">

							<h1 class="fadeIn-1 dark-bg light-color"><span> Feed the Pig<br>in your area</span></h1>
							<p class="fadeIn-2 light-color">Want to plan an event in your area? <br>Contact ThePinkPigChallenge Organizer with any questions you may have today.</p>
							<div class="fadeIn-3">
								<a href="#get-in-touch" class="btn btn-large scroll-to">Get started now</a>
							</div>

						</div>
					</div>
				</div>

				<!-- <div class="item" style="background-image: url(assets/images/art/slider05.jpg);">
					<div class="container">
						<div class="caption vertical-top text-center">

							<h1 class="fadeInDown-1 light-color">Showcase <br>your Pig</h1>
							<p class="fadeInDown-2 medium-color">ThePinkPigChallenge has contests in many categories! Such as best pig name, best decorated pig, heaviest pig, and more! Contact us to learn more and be sure to find us on social media to enter your pig.</p>
							<div class="fadeInDown-3">
								<a href="#" class="btn btn-large">Share my pig</a>
							</div>

						</div>
					</div>
				</div>
-->
			</div>
		</section>

		<!-- ============================================================= SECTION – HERO : END ============================================================= -->


		<!-- ============================================================= SECTION – PRODUCT ============================================================= -->

		<section id="product">
			<div class="container inner">

				<div class="row">

					<div class="col-sm-6 inner-right-xs text-right">
						<figure>
							<a href="http://www.orlandoicc.org/donations/" target="_blank"><img src="assets/images/pinkPigChallenge-webpage0001.png" alt=""></a>
						</figure>
					</div>
					<!-- /.col -->

					<div class="col-sm-6 inner-top-xs inner-left-xs">
						<h2>Feed the pig online</h2>
						<p>Want to get involved but don't quite have the time to hit the streets and collect change for ThePinkPigChallenge? That's okay, our affiliated church <a href="http://www.orlandoicc.org">Orlando ICC</a> has a great donation page where you can quickly
							donate with ease, when you do donate besure to make a note that it's for the ThePinkPigChallenge</p>
						<a href="http://www.orlandoicc.org/donations/" target="_blank" class="txt-btn" data-toggle="modal">Take me to Paypal</a>
						<!-- <a href="http://www.orlandoicc.org/donations/" target="file:///Users/josephgreen/Desktop/thePinkPigChallenge/PPC/production/Template/index.html">Take me to Paypal</a> -->

					</div>
					<!-- /.col -->

				</div>
				<!-- /.row -->

				<div class="row inner-top-md">

					<div class="col-sm-6 col-sm-push-6 inner-left-xs">
						<figure>
							<a href="#get-in-touch" class="scroll-to"><img src="assets/images/pinkPigChallenge-webpage02.png" alt=""></a>
						</figure>
					</div>
					<!-- /.col -->

					<div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
						<h2>Why collect change?</h2>
						<p>In the least amount of words possible, "why not?". We all at some point have either been asked for money or maybe been the one asking... when you think of money your first thought may start at a one dollar and go up from there, but not many people
							consider spare change the same as "money". This is the beauty of <strong>ThePinkPigChallenge</strong>, we aren't asking for cash money, we are asking for spare change! So grab your piggy and start collecting all the spare change you can, remember
							this goes towards supporting the movement of God and our missionaries in other less fortunate Countries</p>
						<a href="#get-in-touch" class="txt-btn scroll-to">How do I turn in my Pig?</a>
					</div>
					<!-- /.col -->

				</div>
				<!-- /.row -->

				<div class="row inner-top-md">

					<div class="col-sm-6 inner-right-xs text-right">
						<figure>
							<a href="https://www.facebook.com/ThePinkPigChallenge/" target="_blank"><img src="assets/images/pinkPigChallenge-webpage03.png" alt=""></a>
						</figure>
					</div>
					<!-- /.col -->

					<div class="col-sm-6 inner-top-xs inner-left-xs">
						<h2>Join us on social media</h2>
						<p>We want to see your pig! Are you ready to get out there and "Feed the Pig" (collect change), or maybe you've given your pig a new look! Well what are you waiting for? We want to see it, head over to social media and share with @ThePinkPigChallenge
							#ThePinkPigChallenge </p>
						<a href="https://www.facebook.com/ThePinkPigChallenge/" target="_blank" class="txt-btn" data-toggle="modal">Let's take this everywhere!</a>
					</div>
					<!-- /.col -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</section>

		<!-- ============================================================= SECTION – PRODUCT : END ============================================================= -->


		<!-- ============================================================= SECTION – VISIT OUR STORE ============================================================= -->

		<section id="visit-our-store" class="img-bg img-bg-soft tint-bg" style="background-image: url(assets/images/image-background04.jpg);">
			<div class="container inner">

				<div class="row">
					<div class="col-md-8 col-sm-9">
						<header>
							<h1>Feed The Pig</h1>
							<p>We appreciate all the help and donations we can get, ThePinkPigChallenge is affiliated with a <strong>501(c)(3)</strong> organization <a href="www.orlandoicc.org" target="_blank">Orlando International Christian Church</a> all donations fall under
								tax deductable guidelines for more information on this please contact us by E-mail.</p>
							<p>This button will redirect you to our church website to complete your donation for <strong>ThePinkPigChallenge</strong>, when making your donation don't forget to mention in the notes that it is for <strong>ThePinkPigChallenge</strong>, so we know
								where it's going.</p>

						</header>
						<a href="http://www.orlandoicc.org/donations/" target="_blank" class="btn btn-large">Donate Now</a>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->
		</section>

		<!-- ============================================================= SECTION – VISIT OUR STORE : END ============================================================= -->


		<!-- ============================================================= SECTION – REASONS ============================================================= -->

		<section id="reasons">
			<div class="container inner">

				<div class="row">
					<div class="col-md-8 col-sm-9 center-block text-center">
						<header>
							<h1>5 Reasons <br>why you should join <strong>ThePinkPigChallenge</strong> today!</h1>
							<p>Contact us below for more information.</p>
						</header>
					</div>
				</div>

				<div class="row inner-top-sm">
					<div class="col-xs-12">
						<div class="tabs-circle-top tab-container">

							<ul class="text-center">
								<li class="tab">
									<a href="#stay">
										<div>1</div>Support Missionaries</a>
								</li>
								<li class="tab">
									<a href="#stay">
										<div>2</div>501(c)(3) Organization</a>
								</li>
								<li class="tab">
									<a href="#stay">
										<div>3</div>Plant Churches</a>
								</li>
								<li class="tab">
									<a href="#stay">
										<div>4</div>Competitive Fun</a>
								</li>
								<li class="tab">
									<a href="#stay">
										<div>5</div>Community Outreach</a>
								</li>
							</ul>


						</div>
					</div>
				</div>

			</div>
		</section>

		<!-- ============================================================= SECTION – REASONS : END ============================================================= -->


		<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
		<div id="contact"></div>
		<section id="get-in-touch" class="inner-bottom">
			<div class="container inner light-bg">
				<div class="row">
					<div class="col-md-8 col-sm-9 center-block text-center">
						<header>
							<h1>Want to work with us?</h1>
							<p>We are always excited about growing ThePinkPigChallenge as we raise awareness and funds for God's movement, if you have any questions please contact us today.</p>
						</header>
						<a href="#modal-contact01" class="btn btn-large" data-toggle="modal">Get in touch</a>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>

		<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->


		<!-- ============================================================= MODALS ============================================================= -->


		<!-- ============================================================= MODAL PRODUCT01 ============================================================= -->

		<div class="modal fade" id="modal-product01" tabindex="-1" role="dialog" aria-labelledby="modal-product01" aria-hidden="true">
			<div class="modal-dialog modal-full">
				<div class="modal-content dark-bg img-bg img-bg-softer no-modal-header no-modal-footer" style="background-image: url(#);">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
						<h4 class="modal-title" id="modal-product01">Product information</h4>
					</div>
					<!-- /.modal-header -->

					<!-- ============================================================= MODAL CONTENT ============================================================= -->

					<div class="modal-body">

						<!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->

						<!-- <section id="portfolio-post">
							<div class="container inner-top-sm inner-bottom">

								<div class="row">
									<div class="col-sm-12">
										<div class="video-container">
											<iframe src="http://player.vimeo.com/video/44920080?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1170" height="658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
										</div>
									</div>
								</div>

								<div class="row inner-top-xs reset-xs">

									<div class="col-sm-7 inner-top-xs inner-right-xs">
										<header>
											<h2>Unleash your fingers</h2>
											<p class="text-normal">Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam. Eumenis etus
												consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
											<p class="text-normal">Soloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae voloris remped modis doloreiur qui commolu dolupta oreprerum et consent.</p>
										</header>
									</div>

									<div class="col-sm-4 col-sm-offset-1 outer-top-xs inner-left-xs border-left">
										<ul class="item-details">
											<li class="date">June 12, 2015</li>
											<li class="categories">Motion graphics</li>
											<li class="client">Mobile company</li>
											<li class="url"><a href="http://demo.fuviz.com/reen">demo.fuviz.com/reen</a></li>
										</ul>
									</div>

								</div>
-->
					</div>

					</section>

					<!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->


					<!-- ============================================================= SECTION – SHARE ============================================================= -->

					<!-- <section id="share" class="light-bg">
							<div class="container">

								<div class="col-sm-4 reset-padding">
									<a href="#" class="btn-share-md">
										<p class="name">Facebook</p>
										<i class="icon-s-facebook"></i>
										<p class="counter">1080</p>
									</a>
								</div>
								/.col

								<div class="col-sm-4 reset-padding">
									<a href="#" class="btn-share-md">
										<p class="name">Twitter</p>
										<i class="icon-s-twitter"></i>
										<p class="counter">1263</p>
									</a>
								</div>
								/.col

								<div class="col-sm-4 reset-padding">
									<a href="#" class="btn-share-md">
										<p class="name">Google +</p>
										<i class="icon-s-gplus"></i>
										<p class="counter">963</p>
									</a>
								</div>
								/.col

							</div>
							/.container
						</section> -->

					<!-- ============================================================= SECTION – SHARE : END ============================================================= -->

				</div>
				<!-- /.modal-body -->

				<!-- ============================================================= MODAL CONTENT : END ============================================================= -->

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
				<!-- /.modal-footer -->

			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<!-- ============================================================= MODAL PRODUCT01 : END ============================================================= -->


		<!-- ============================================================= MODAL CONTACT01 ============================================================= -->

		<div class="modal fade" id="modal-contact01" tabindex="-1" role="dialog" aria-labelledby="modal-contact01" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
						<h4 class="modal-title" id="modal-contact01">Get in touch</h4>
					</div>
					<!-- /.modal-header -->

					<!-- ============================================================= MODAL CONTENT ============================================================= -->

					<div class="modal-body">

						<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->

						<section id="contact-form">
							<div class="container inner-top-xs inner-bottom">

								<div class="row">
									<div class="col-md-8 col-sm-9 center-block text-center">
										<header>
											<h1>Get in touch</h1>
											<p>Do you want to know more? We’d love to hear from you!</p>
										</header>
									</div>
									<!-- /.col -->
								</div>
								<!-- /.row -->

								<div class="row">
									<div class="col-sm-12">
										<div class="row">

											<div class="col-sm-6 outer-top-md inner-right-sm">

												<h2>Leave a Message</h2>

												<form id="contactform" class="forms" action="contact.php" method="post">
													<!-- <fieldset disabled> -->
													<div class="row">
														<div class="col-sm-6">
															<input type="text" name="name" class="form-control" placeholder="Name (Required)">
														</div>
														<!-- /.col -->
													</div>
													<!-- /.row -->

													<div class="row">
														<div class="col-sm-6">
															<input type="email" name="email" class="form-control" placeholder="Email (Required)">
														</div>
														<!-- /.col -->
													</div>
													<!-- /.row -->

													<div class="row">
														<div class="col-sm-6">
															<input type="text" name="subject" class="form-control" placeholder="Subject">
														</div>
														<!-- /.col -->
													</div>
													<!-- /.row -->

													<div class="row">
														<div class="col-sm-12">
															<textarea name="message" class="form-control" placeholder="Enter your message ..."></textarea>
														</div>
														<!-- /.col -->
													</div>
													<!-- /.row -->

													<button type="submit" class="btn btn-default btn-submit">Submit message</button>
													<!-- </fieldset> -->
												</form>

												<div id="response"></div>

											</div>
											<!-- ./col -->

											<div class="col-sm-6 outer-top-md inner-left-sm border-left">

												<h2>Contacts</h2>
												<p>This site is still being worked on, some forms of contact may not be working properly at the moment. The best way to contact us is to click on one of the methods below here on the right and proceed that way.</p>

												<h3>ThePinkPigChallenge</h3>
												<ul class="contacts">
													<li><i class="icon-location contact"></i> Orlando, Florida</li>
													<li><i class="icon-mobile contact"></i> (503) 720-9891</li>
													<li><a href="mailto:thepinkpigchallenge@gmail.com"><i class="icon-mail-1 contact"></i> ThePinkPigChallenge@gmail.com</a></li>
												</ul>
												<!-- /.contacts -->

												<div class="social-network">
													<h3>Social</h3>
													<ul class="social">
														<li><a href="https://www.facebook.com/ThePinkPigChallenge/" target="_blank"><i class="icon-s-facebook"></i></a></li>
														<li><a href="https://www.youtube.com/channel/UCVHEJxRRMvhBPuJ8yWP2pIw" target="_blank"><i class="icon-s-youtube"></i></a></li>

													</ul>
													<!-- /.social -->
												</div>
												<!-- /.social-network -->

											</div>
											<!-- /.col -->

										</div>
										<!-- /.row -->
									</div>
									<!-- /.col -->
								</div>
								<!-- /.row -->

							</div>
							<!-- /.container -->
						</section>

						<!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->


						<!-- ============================================================= SECTION – MAP ============================================================= -->

						<!-- <section id="map" class="height-sm"></section> -->

						<!-- ============================================================= SECTION – MAP : END ============================================================= -->

					</div>
					<!-- /.modal-body -->

					<!-- ============================================================= MODAL CONTENT : END ============================================================= -->

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
					<!-- /.modal-footer -->

				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<!-- ============================================================= MODAL CONTACT01 : END ============================================================= -->


		<!-- ============================================================= MODALS : END ============================================================= -->

	</main>

	<!-- ============================================================= MAIN : END ============================================================= -->


	<!-- ============================================================= FOOTER ============================================================= -->

	<footer class="dark-bg">
		<div class="container inner">
			<div class="row">



			</div>
			<!-- /.row -->
		</div>
		<!-- .container -->

		<div class="footer-bottom">
			<div class="container inner">
				<p class="pull-left">© 2017 TheDevCoop. All rights reserved.</p>
				<ul class="footer-menu pull-right">
					<li><a href="#product" class="scroll-to">The Pink Pig Challenge</a></li>
					<li><a href="#visit-our-store" class="scroll-to">Donate</a></li>
					<li><a href="#reasons" class="scroll-to">Benefits</a></li>
					<li><a href="#get-in-touch" class="scroll-to">Contact</a></li>
				</ul>
				<!-- .footer-menu -->
			</div>
			<!-- .container -->
		</div>
		<!-- .footer-bottom -->
	</footer>
	<!-- <a id="scrollUp" href="#top" style="position: fixed; z-index: 1001; display: block;">
		<i class="icon-up-open-mini"></i>
	</a> -->
	<!-- ============================================================= FOOTER : END ============================================================= -->

	<!-- JavaScripts placed at the end of the document so the pages load faster -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.easing.1.3.min.js"></script>
	<script src="assets/js/jquery.form.js"></script>
	<script src="assets/js/jquery.validate.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/aos.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/jquery.isotope.min.js"></script>
	<script src="assets/js/imagesloaded.pkgd.min.js"></script>
	<script src="assets/js/jquery.easytabs.min.js"></script>
	<script src="assets/js/viewport-units-buggyfill.js"></script>
	<script src="assets/js/scripts.js"></script>
	<script src="assets/js/custom.js"></script>

</body>

</html>
